{{define "main"}}
  <main>
    <div class="word-up">
      <p class="word-up-title">What's on your mind?</p>
      <p class="word-up-content">
        I'm thinking in this box we'll have a little user submitted blurb that get's refreshed every so often. 
        We can have people submit as many as they want and load them into a queue or something.
      </p>
    </div>
    <div class="threadbox">
      <p class="threadbox-title-content">
        Da Latest Threads ... ....
      </p>
      <table class="threadbox-table">
        <tr class="threadbox-table-header">
          <th>Icon</th>
          <th>Title</th>
          <th>Author</th>
          <th>Replies</th>
          <th>Rating</th>
          <th>Last Post</th>
        </tr>

      </table>
    </div>
  </main>
{{end}}