{{define "main"}}
  <main>
    <div class="word-up">
      <p class="word-up-title">What's on your mind?</p>
      <p class="word-up-content">
        I'm thinking in this box we'll have a little user submitted blurb that get's refreshed every so often. 
        We can have people submit as many as they want and load them into a queue or something.
      </p>
    </div>
    <div class="threadbox">
      <p class="threadbox-title-content">
        Da Latest Threads ... ....
      </p>
      <table class="threadbox-table">
        <tr class="threadbox-table-header">
          <th class="threadbox-icon-cell">Icon</th>
          <th class="threadbox-title-cell">Title</th>
          <th class="threadbox-author-cell">Author</th>
          <th>Replies</th>
          <th class="threadbox-rating-cell">Rating</th>
          <th class="threadbox-lastpost-cell">Last Post</th>
        </tr>
        <tr class="threadbox-row">
          <td class="threadbox-icon-cell">
            <img class="posticon" src="/static/img/posticons/balls.gif">
          </td>
          <td class="threadbox-title-cell">
            <a href="#">fuckerman bill</a>
          </td>
          <td class="threadbox-author-cell">
            <a href="#">my_big_fat_geek_wedding</a>
          </td>
          <td>
            12
          </td>
          <td class="threadbox-rating-cell">
            <div class="threadbox-rating-div">
              <img class="rating-star" src="/static/img/star.svg">
            </div>
          </td>
          <td class="threadbox-lastpost-cell">
          <a href="#">nanana nana nanananana nananana</a>
          </td>
        </tr>
        <tr class="threadbox-row">
          <td class="threadbox-icon-cell">
            <img class="posticon" src="/static/img/posticons/fyad-falconry.gif">
          </td>
          <td class="threadbox-title-cell">
            <a href="#">Guy who walks into a bathroom and says "Damn one you sumbitches ate some garlic, huh?" I'm adding more conent here to see what happens</a>
          </td>
          <td class="threadbox-author-cell">
            <a href="#">powerbastard</a>
          </td>
          <td>
            12
          </td>
          <td class="threadbox-rating-cell">
            <div class="threadbox-rating-div">
              <img class="rating-star" src="/static/img/star.svg">
              <img class="rating-star" src="/static/img/star.svg">
              <img class="rating-star" src="/static/img/star.svg">
              <img class="rating-star" src="/static/img/star.svg">
              <img class="rating-star" src="/static/img/star.svg">
            </div>
          </td>
          <td class="threadbox-lastpost-cell">
          <a href="#">I don't know I just don't really see a guy ssaying something liek that</a>
          </td>
        </tr>
        <tr class="threadbox-row">
          <td class="threadbox-icon-cell">
            <img class="posticon" src="/static/img/posticons/posticon1.gif">
          </td>
          <td class="threadbox-title-cell">
            <a href="#">Who shit in my ass</a>
          </td>
          <td class="threadbox-author-cell">
            <a href="#">lord-clangers</a>
          </td>
          <td>
            12
          </td>
          <td class="threadbox-rating-cell">
            <div class="threadbox-rating-div">
              <img class="rating-star" src="/static/img/star.svg">
              <img class="rating-star" src="/static/img/star.svg">
              <img class="rating-star" src="/static/img/star.svg">
              <img class="rating-star" src="/static/img/star.svg">
            </div>
          </td>
          <td class="threadbox-lastpost-cell">
          <a href="#">I don't know I just don't really see a guy ssaying something liek that</a>
          </td>
        </tr>
        <tr class="threadbox-row">
          <td class="threadbox-icon-cell">
            <img class="posticon" src="/static/img/posticons/posticon1.gif">
          </td>
          <td class="threadbox-title-cell">
            <a href="#">What types of IEDs can be sent through the US Mail undetected?</a>
          </td>
          <td class="threadbox-author-cell">
            <a href="#">princess_life27</a>
          </td>
          <td>
            12
          </td>
          <td class="threadbox-rating-cell">
            <div class="threadbox-rating-div">
              <img class="rating-star" src="/static/img/star.svg">
              <img class="rating-star" src="/static/img/star.svg">
              <img class="rating-star" src="/static/img/star.svg">
              <img class="rating-star" src="/static/img/star.svg">
              <img class="rating-star" src="/static/img/star.svg">
            </div>
          </td>
          <td class="threadbox-lastpost-cell">
          <a href="#">I don't know I just don't really see a guy ssaying something liek that</a>
          </td>
        </tr>
      </table>
    </div>
  </main>
{{end}}