# Ignore everything
*

# But not these files...
!/.gitignore

!*.go
!*.sh
!*.tmpl
!*.yml
!*.yaml
!go.sum
!go.mod
!*.css
!*.ttf
!*.png
!*.gif
!*.svg
!*.sql
!*.js

!README.md
!/docs/*.md

# !Makefile

# ...even if they are in subdirectories
!*/
