{{define "header"}}
<header class="site-header">
    <div class="header-imgs">
        <img class="title-img" src="/static/img/title-transparent.png">
        <img class="yoda-crosshairs" src="/static/img/yoda-crosshair-transparent.png">
    </div>
    <div class="header-sub">
        <p class="site-description">Going down to dagoba... gon' get me some Yoda jerky...</p>
    </div>
</header>
{{end}}