{{define "header"}}
<header class="site-header">
    <div class="site-logo">
        <img class="yoda-crosshairs" src="/static/img/yoda-crosshair-transparent.png">
    </div>
    <img class="title-img" src="/static/img/title-transparent.png">
    <div class="header-sub">
        <p class="site-description">Going down to dagoba... gon' get me some Yoda jerky...</p>
    </div>
</header>
<div class="navbar">
    <ul>
        <li><a href="#">Blog!</a></li>
        <li><a href="#">My Profile!</a></li>
        <li><a href="#">Create a Thread!</a></li>
    </ul>
    </div>
{{end}}