{{define "main"}}
<main>
  <div class="newthread-wrapper">
    <div class="newthread-box">
      <h1 class="newthread-title">Create a Thread</h1>
      <form class="newthread-form" id="newThreadForm">
        <label class="input-label" for="title">Title:</label>
        <input class="input" type="text" id="title" name="title" required>
        <label class="input-label" for="categorySelect">Category:</label>
        <select class="category-select" id="categorySelect" name="categorySelect" required>
        <optgroup>
        <option value="">Select a Category</option>
        {{ range .CategoryData}}
        <option value="{{ .ID }}">{{ .Title }}</option>
        {{ end }}
        </optgroup>
        </select>
        <label class="input-label" for="body">Body:</label>
        <textarea class="textarea-input" id="body" name="body" rows="10" required></textarea>
        <button class="newthread-submit-button" type="button" id="newThreadSubmitButton">Create Thread</button>
      </form>
    </div>
  </div>
<script>
document.addEventListener('DOMContentLoaded', function() {
  const newThreadForm = document.getElementById('newThreadForm');
  const newThreadSubmitButton = document.getElementById('newThreadSubmitButton');

  newThreadForm.addEventListener('keydown', function(event) {
    if (event.key === 'Enter') {
      handlePostThread();
    }
  });
  newThreadSubmitButton.addEventListener('click', function() {
    handlePostThread();
  });
});

function handlePostThread() {
    const title = document.getElementById('title').value;
    const category_id = Number(document.getElementById('categorySelect').value);
    const body = document.getElementById('body').value;
    // TODO: redirect to thread view with thread_id in json response
    responseJson = jsonPost("/api/threads", {title: title, category_id: category_id, body: body}, "Create Thread Failed!", "/")

}
</script>
</main>
{{ end }}